<h1>Add New Product</h1>
<form class="form-control" [formGroup]="productForm" (ngSubmit)="submit()">
  <div hidden>
    <label class="form-label" for="id">Mã sản phẩm</label><br>
    <input type="text" id="id" formControlName="id">
  </div>
  <div>
    <label class="form-label" for="name">Tên sản phẩm</label><br>
    <input type="text" id="name" formControlName="name">
  </div>
  <div >
    <label class="form-label" for="price">Giá sản phẩm</label><br>
    <td><input type="text" id="price" formControlName="price">
  </div>
  <div>
    <label class="form-label" for="description">Mô tả sản phẩm</label><br>
    <input type="text" id="description" formControlName="description">
  </div>
  <div formGroupName="category">
    <label class="form-label">Loại sản phẩm</label><br>
    <select id="category" formControlName="id" >
      <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
    </select>
  </div>
  <div>
    <button type="submit" class="btn btn-success">ADD</button>
  </div>
</form>

